.drawioView {
    background-color: var(--background-primary);
}

.drawioIframe {
    width: 100%;
    height: 100%;
}

.drawio-embed-modal {
    width: 98vw;
    height: 98vh;
}

.centered-diagram {
	display: flex;
	justify-content: center;
	align-items: center;
}

.centered-diagram--RenderView {
	display: flex;
	justify-content: center;
}

.drawio-scheme-dark {
	color-scheme: dark !important;
}

.drawio-scheme-light {
	color-scheme: light !important;
}

@media print {
  .drawio-scheme-dark {
    color-scheme: light !important;
  }
}

.drawio-markdown-tooltip {
	position: fixed;
	display: none;
	z-index: 1000;
	pointer-events: all;
	max-width: 400px;
	padding: 20px;
	max-height: 400px;
	overflow: auto;
    border: var(--border-width) solid var(--background-modifier-border);
    box-shadow: var(--shadow-l);
    background-color: var(--background-primary);
}

.drawio-markdown-tooltip--show {
	display: block;
}

.interactiveElement {
    cursor: pointer;
}

.drawio-external-tooltip {
    position: absolute;
    border: var(--border-width) solid var(--background-modifier-border);
    box-shadow: var(--shadow-l);
    background-color: var(--background-primary);
    padding: 10px;
    z-index: 9999;
}

.drawio-external-tooltip a {
    color: var(--text-normal);
    text-decoration: none;
}

.drawio-external-tooltip--hidden {
    display: none;
    z-index: 9999;
}

.drawio-external-tooltip--show {
    display: block;
}

.drawio-external-tooltip--position {
    --drawio-external-tooltip-offset-x: 15px;
    --drawio-external-tooltip-offset-y: 15px;
}

.drawio-centering-diagrams {
    text-align: center;
    width: 100%;
}

.drawio-centering-diagrams img {
      height: auto;
      max-width: 100%;
}

.drawio-container svg {
    max-width: 100%;
    height: auto;
}

.drawio-container svg pre {
    background-color: inherit !important;
    box-shadow: inherit !important;
    padding: inherit !important;
}

.drawio-container svg strong {
    background-color: inherit !important;
    box-shadow: inherit !important;
    padding: inherit !important;
    color: inherit !important;
}

.drawio-container svg h1,
.drawio-container svg h2,
.drawio-container svg h3,
.drawio-container svg h4,
.drawio-container svg h5,
.drawio-container svg h6 {
    color: inherit !important;
    border: inherit !important;
    font-family: inherit !important;
    border-bottom: inherit !important;
    margin: inherit !important;
    padding: inherit !important;
}


.drawio-container svg h1::after,
.drawio-container svg h2::after,
.drawio-container svg h3::after,
.drawio-container svg h4::after,
.drawio-container svg h5::after,
.drawio-container svg h6::after {
    content: inherit !important;
    display: inherit !important;
    border: inherit !important;
    background: inherit !important;
    font-family: inherit !important;
    border-bottom: inherit !important;
}