.drawioIframe {
    width: 100%;
    height: 100%;
}

.centered-diagram {
	display: flex;
	justify-content: center;
	align-items: center;
}

.drawio-scheme-dark {
	color-scheme: dark !important;
}

.drawio-scheme-light {
	color-scheme: light !important;
}